.theme-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  caret-color: transparent;
}
.theme-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
}

.mode-toogle{
  margin-right: auto;
}

.mode-toogle img{
  width:24px;
  height: 24px;
  cursor: pointer;
}
